body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    font-size: 1.3em;
    line-height: 1.4em;

    /*Fondo*/
    background-image: url("https://www.pinnacle.com/Cms_Data/Contents/Guest/Media/betting-articles/soccer/latam-soccer/liga-mx.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1{
    font-size: 2rem;
    line-height: 1.3em;
}

h3{
    font-size: 0.70em;
}

p{
    margin-bottom: 1.6em;
    color: black;
}

/*Es la clase de todos los div*/
.contenedores{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

.imagenindex{
    text-align: center;
}

.titulo{
    letter-spacing: 7.5px;
    font-size: 1.83em;
    width: 100%;
    text-align: center;
    margin-top: 2.5px;
}

.titulo-nav-contenedor{
    align-items: center;
    flex-wrap: wrap;

}

.encabezado{
    background-color: #333;
    color: aliceblue;
    padding: 0.25em;

    /* PARA QUE ESTE FIJA EN LA PARTE SUPERIOR*/
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.encabezado a{
    color: white;
    text-decoration: none;
}

.navegacion{
    text-align: center;
}
.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none; /* Es para que no salga la bolita a una lado*/
}

.navegacion ul li{
display: inline-block;
}

.navegacion ul li a{
    display: block; 
    padding: 0.5rem 1rem;
}

.navegacion ul li a:hover{
    background-color: rgb(93, 93, 93);
    font-size: 19px;
    letter-spacing: 1.5px;
    border-radius: 0.5em;  
}

.contenido{
    background: linear-gradient(to right, #6a6af7, #1cb5e0);
    margin-left: auto;margin-right: auto;
    padding-top: 10em;
    background-color: aqua;
    width: 85%;
    min-height: 450px;
    padding-bottom: 0.2em;
}

.pie
{
    background-color: blanchedalmond;
    text-align: center;
    padding: 1px;
    margin-top: 2em;
}


/*HTML DE PROducTOS*/


.imgproductos{
    height: 300px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.productos div{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: auto;
    width: 300;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right:0.5em;
    margin-bottom: 0.7em;
}

.productos div:hover{
    transition: all 0.5s;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}



/*HTML DE CONTACTO*/

.formulario{
    width: auto;
    height: 25px;
    margin-right: 5em;
    text-align: justify;
    margin-left: 5em;
    
}
.formulario input{
    float: right; 
    height: 20px;
}

label{
    color: black;
}



